#product__main {
    /* background-color: red; */
    /* height: 1000px; */
    margin-top: 89px;
    /* position: absolute; */
    /* z-index: 90; */
}

.product__main__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.product__main__top__col__right {
    display: flex;
    margin-top: 8px;
}

.search__product {
    width: 187px;
    height: 36px;
    border: 1px solid #dbdfea;
    padding: 7px 16px 7px 16px;
    display: flex;
    border-radius: 4px;
    margin-right: 16px;
}

.input__serach {
    width: 129px;
    height: 20px;
    border: none;
    background-color: #f5f6fa;
}

.input__serach:focus {
    outline: none;
}

#icon__serach {
    width: 40px;
    height: 40px;
}

.add__product {
    width: 144px;
    height: 36px;
    background-color: #006e52;
    border-radius: 4px;
    padding: 8px 17px 5px 17px;
    color: white;
    cursor: pointer;
}

.add__product:hover {
    filter: brightness(1.2);
}

.search__product div {
    padding: 0px 7px 0px 14px;
}

#icon__add {
    font-size: 16px;
}

.tag__name {
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    height: 48px;
    /* border: 1px solid black; */
    align-items: center;
    margin-bottom: 10px;

    box-shadow: 2px 2px 1px #ccc;
}

.tag__name__check {
    padding: 15px 8px 8px 24px;
}

.tag__name__check input {
    width: 20px;
    height: 20px;
}

.tag__name__name {
    width: 615px;
    padding: 0px 8px;
}

.tag__name__sku {
    width: 250px;
    padding: 0px 16px;
}

.tag__name__price {
    width: 255px;
    padding: 0px 16px;
}

.tag__name__stock {
    width: 250px;
    padding: 0px 0px 0px 16px;
    margin-right: 18px;
}

.tag__name__branch {
    width: 150px;
    padding: 0px 0px 0px 1px;
}

.tag__name__more {
    width: 190px;
    /* text-align: center; */
    font-size: 20px;
    position: relative;
}

.btn__down,
.btn__down__top {
    margin-left: 54px;
    width: 26px;
    cursor: pointer;
}

.product__item {
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    height: 80px;
    /* border: 1px solid black; */
    align-items: center;
    margin-bottom: 10px;

    box-shadow: 2px 2px 1px #ccc;
}

.product__item:hover {
    box-shadow: 0 2px 15px -4px rgba(27, 90, 28, 0.4);
}

.tag__name__name img {
    width: 60px;
    border-radius: 4px;
    margin-right: 16px;
    vertical-align: middle;
}

.btn__down {
    position: relative;
}

/* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */

.dropdown-content {
    width: 178px;
    height: 136px;
    padding: 8px 0px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    top: 12px;
    right: 135px;
    overflow: auto;
    box-shadow: 0 3px 12px 1px rgba(58, 34, 114, 0.15);
    border-radius: 4px;
    z-index: 120;
}

.dropdown__item {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    width: 100%;
    height: 40px;
}

.dropdown__item div {
    font-size: 16px;
    text-decoration: none;
    padding: 10px 18px 10px 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #526484;
    cursor: pointer;
}

.dropdown__item span {
    margin-left: 10px;
}

.dropdown__item:hover {
    background-color: #ddd;
}
/* .btn__down a:hover {
    background-color: #ddd;
} */

.showdropdown {
    display: block;
}

.add__product__container {
    overflow: auto;

    /* display: none; */
    position: fixed;
    width: 0px;
    /* width: 23vw; */
    margin-top: 88px;
    height: 95vh;
    right: 0;
    top: -22px;
    background-color: white;
    z-index: 101;
    transition: 0.5s;
}

.show__add__product {
    width: 23vw;
}

.add__product__container__content {
    padding: 30px;
}

.add__product__container__content__head {
    margin-bottom: 20px;
}
.add__product__container__content__head h5 {
    font-size: 20px;
}

.add__product__container__content__body label {
    font-weight: 600;
}

.add__name__product {
    margin-bottom: 13px;
}

.input__name__product input {
    width: 100%;
    height: 36px;
    margin-top: 8px;
    padding: 7px 16px;
    line-height: 20px;
    border: 1px solid #dbdfea;
    border-radius: 4px;
}

.price__flex {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 13px; */
}

.input__regular__price {
    margin-right: 15px;
}

.input__regular__price input,
.input__discount__price input {
    width: 175px;
    /* width: 100%; */
    height: 30px;
    margin-top: 8px;
    padding: 7px 16px;
    line-height: 20px;
    border: 1px solid #dbdfea;
    border-radius: 4px;
}
.add__description {
    margin-bottom: 8px;
}

.input__description textarea {
    resize: none;
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    padding: 5px 16px;
    line-height: 20px;
    border: 1px solid #dbdfea;
    border-radius: 4px;
}

.container__image__btn {
}

.image__div__container {
    margin-bottom: 13px;
    max-height: 210px;
}

.image__div__container img {
    max-width: 100%;
    max-height: 210px;
    display: block;
}

.add__image input[type="file"] {
    display: none;
}

.add__image label {
    color: white;
    height: 36px;
    width: 144px;
    background-color: #f5af09;
    border-radius: 4px;
    padding: 8px 17px 5px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flex__btn__imge__save {
    display: flex;
    justify-content: space-between;
}

.save__product__btn {
    width: 144px;
    height: 36px;
    background-color: #006e52;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.save__product__btn input[type="submit"] {
    display: none;
}

.save__product__btn label {
    cursor: pointer;
}

.shadow__container {
    display: none;
    position: fixed;
    margin-top: 88px;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: -22px;
    background-color: rgba(202, 206, 212, 0.5);
    z-index: 100;
}

.show__shadowhasnav {
    display: block;
    margin-left: 224px;
}

.show__shadownonav {
    display: block;
    margin-left: 68px;
}

.input__regular__price {
    margin-bottom: 13px;
}

.input__discount__price {
    margin-bottom: 13px;
}
.error__title {
    margin-top: -10px;
    margin-bottom: 0px;
    color: #ff1019;
}

.add__error__container {
    display: flex;
    flex-direction: column;
}

.border__error__input {
    border: 1px solid #ff1019;
}

.select__brand {
    width: 175px;
    height: 30px;
    margin-right: -17px;
    margin-top: 8px;
    /* padding: 7px 16px; */
    /* line-height: 20px; */
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #dbdfea;
    border-radius: 4px;
}
